body{
    background-color: rgb(0, 0, 0);
}
nav{
    flex-direction: column;
    height: 90px;
}
.leftSection{
    font-size: 20px;
}
.rightSection img{
    width: 100px;
    margin: 10px 10px;
}
.secondSection{
    flex-direction: column;
    margin: 0 70px;
}
.secondSection h2{
    font-size: 20px;
}
.secondSection ul li{
    font-size: 16px;
    margin: 2px 2px;
    flex-direction: column;
}
.secondSection li{
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.thirdSection{
    width: 100%;
}
.thirdSection h1{
    font-size: 20px;
}
.thirdSection li{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.thirdSection img{
    display: none;
}
.right{
    font-size: 15px;
    margin: 0;
}
.right1{
    margin: 10px 10px;
}
footer div ul{
    display: none;
    
} 
footer{
    height: 70px;
}
.leftSection{
    width: 100%;
}
.forthSection{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
.forthSection ul{
    list-style: none;
  }
  .forthSection ul li{
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
  }
  .forthSection ul li a{
    color: white;
    text-decoration: none;
  }
  .forthSection img{
    margin: 0 20px;
  }